<!-- Full Wrapper -->
<div class="flex flex-col gap-8 w-full bg-white dark:bg-[#161616] dark:ring dark:ring-[#282828] rounded-[10px] py-6 px-8 shadow-[0px_4px_10px_-2px_rgba(0,0,0,0.1)] mb-4">
  <!-- Main Content Card -->
   <div class="flex flex-col gap-5 px-2">
    <!-- Header Row -->
    <div class="flex justify-between items-center w-full ">
      <!-- Logo -->
      <div
        class="sm:w-14 sm:h-14 h-12 w-12 flex items-center justify-center rounded-full bg-[linear-gradient(to_bottom,#eaeaea80,#f6f6f680,#eaeaea80)] border border-[#E0E0E0] shrink-0">
        <img [src]="detail.logo" class="w-8 h-8 sm:w-10 sm:h-10 rounded-lg" />
      </div>
    
      <!-- Duration (Experience) OR nothing for Projects -->
      <p *ngIf="type === 'experience'" class="text-[#828282] text-sm">
        {{ detail.period }}
      </p>
    
      <p *ngIf="type === 'project'" class="text-[#828282] text-sm">
        {{ detail.tech.join(', ') }}
      </p>
    </div>
    
    <div class="flex flex-col gap-4 w-full text-justify mb-4">
      <h1 class="text-2xl font-semibold">
        {{ detail.title || detail.role }}
      </h1>
    
      <!-- Bullet Points -->
      <ul class="list-disc flex flex-col pl-5 gap-2 text-sm sm:text-base text-[#828282] font-medium tracking-tight">
        <li *ngFor="let p of detail.points">
          {{ p }}
        </li>
      </ul>
    
    </div>

    <button *ngIf="detail.link" (click)="open(detail.link)"
      class="flex items-center gap-2 bg-[#2f2f2f] text-white px-4 py-2 rounded-[10px] w-fit transition-all duration-300 hover:opacity-90 mb-2">
      Visit website →
    </button>

   </div>
  <hr class="border border-[#E0E0E0] dark:border-[#282828]" />
  <app-connect></app-connect>
  <app-follow-block></app-follow-block>
</div>
