<div class="bg-[#F0F0F0] rounded-[10px] flex flex-row pt-7 pb-7 pl-5 pr-5 justify-between">
  <div class="flex flex-row gap-2 items-center">
    <div class="bg-[#ADADAD] w-2 h-2 rounded-full"></div>
    <h1 class="text-[#5B5B5B] font-medium text-lg">Follow Me</h1>
  </div>

  <div class="flex flex-row gap-3">
    <!-- Instagram -->
    <img
      src="../../../assets/icons/Instagram.png"
      class="w-9 h-9 transition-all duration-500 hover:shadow-[0_0_0_5px_rgba(210,210,210,1)] rounded-full"
      (click)="open(instagram)"
    />

    <!-- Twitter/X -->
    <img
      src="../../../assets/icons/X.png"
      class="w-9 h-9 transition-all duration-500 hover:shadow-[0_0_0_5px_rgba(210,210,210,1)] rounded-full"
      (click)="open(twitter)"
    />

    <!-- LinkedIn -->
    <img
      src="../../../assets/icons/Linkedin.png"
      class="w-9 h-9 transition-all duration-500 hover:shadow-[0_0_0_5px_rgba(210,210,210,1)] rounded-full"
      (click)="open(linkedin)"
    />
  </div>
</div>
