<div
  class="bg-[#F0F0F0] rounded-[10px] p-5 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4"
>
  <!-- Left section -->
  <div class="flex flex-row gap-2 items-center">
    <div class="bg-[#ADADAD] w-2 h-2 rounded-full"></div>
    <h1 class="text-[#5B5B5B] font-medium text-lg">Socials</h1>
  </div>

  <!-- Icons -->
  <div class="flex flex-wrap gap-3 justify-center sm:justify-end">
    <ng-container *ngFor="let s of socials">
      <img
        [src]="s.icon"
        [alt]="s.name"
        class="w-7 h-7 sm:w-9 sm:h-9 transition-all duration-500 hover:shadow-[0_0_0_5px_rgba(210,210,210,1)] rounded-full cursor-pointer"
        (click)="open(s.url)"
      />
    </ng-container>
  </div>
</div>
