<div class="dark:bg-[#2C2C2C] bg-[#f0f0f0] rounded-[10px] p-5 w-full lg:w-[529px] flex flex-col gap-4">
  <!-- Header -->
  <div class="flex flex-row gap-2 items-center">
    <div class="bg-[#ADADAD] w-2 h-2 rounded-full"></div>
    <h1 class="text-[#828282] font-medium text-lg">Projects</h1>
  </div>

  <!-- Dynamic list -->
  <div class="flex flex-col gap-5">
    <app-list-block
      *ngFor="let p of projects"
      [id]="p.id"
      [title]="p.title"
      [stack]="p.tech.join(', ')"
      [logo]="p.logo"
      [link]="p.link"
    >
    </app-list-block>
  </div>
</div>
