/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";


@theme {
    --font-weight-extramedium: 550;
}

@variant dark (&:where(.dark, .dark *));

:root {
    --bg: #F0F0F0;
    --text: #111111;
}

.dark {
    --bg: #111111;
    --text: #ffffff;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Inter', sans-serif;
}